:root {
    --primary-color: #FF7A00;
    --secondary-color: #FFD323;
    --tertiary-color: #29A649;
}

body {
    background-color: var(--secondary-color) !important;
    overflow-x: hidden;
}

.backHome {
    top: 10px;
    left: 10px;
}

.backHome img {
    width: 50px;
    height: 50px;
}

.about-container {
    margin-top: 100px;
}

.about-company {
    text-align: justify;
    line-height: 2;
}

.about-company h2 {
    font-size: 2.5rem;
}

.about-company p {
    color: #914701;
    margin-top: 1.5rem;
}

.about-container .card-about {
    width: 300px;
    height: 600px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-left: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.about-content img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-bottom: 10px;
}

.about-content {
    padding: 10px;
    text-align: center;
}

.about-content h2 {
    letter-spacing: 3px;
    font-size: 4.5em;
    color: rgba(255, 123, 0, 0.241);
    pointer-events: none;
    position: absolute;
    top: 40%;
    left: 0;
}

.about-content h3 {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--primary-color);
    z-index: -1;
}

.about-content p {
    text-align: justify;
    font-size: 15px;
    color: #914701;
    font-weight: 300;
    margin: 5px;
    letter-spacing: .5px;
}

.about-links a {
    padding: 8px 20px;
    margin: 10px;
    background: var(--primary-color);
    color: black;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
}

.card-about .about-links {
    margin-bottom: 7px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

/* La idea no era hacer dos media queries pero no se me ocurrió otra forma de hacer que sólo en pantallas pequeñas no se muestre la animación de js que tiene la card */

@media only screen and (width <=1024px) {

    .about-container .card-about {
        transform: none !important;
    }
}

@media only screen and (width >=1024px) {

    header .backHome {
        top: 30px;
        left: 30px;
    }

    header .backHome img {
        width: 80px;
        height: 80px;
    }

    .about-links a:hover {
        background-color: #dbb51d;
    }

    .about-container .card-about {
        width: 400px;
        height: 600px;
    }

    .about-content img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }

    .about-content h2 {
        letter-spacing: 3px;
        font-size: 4.5em;
        color: rgba(255, 123, 0, 0.241);
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        transition: all 1s ease-in-out;
        opacity: 0;
    }

    .card-about:hover h2 {
        display: block;
        top: 50%;
        opacity: 1;
    }

    .about-content h3 {
        font-size: 1.5em;
    }

    .about-content p {
        font-size: 1.1rem;
    }

    .about-links a {
        padding: 8px 20px;
        margin: 10px;
        background: var(--primary-color);
        color: black;
        border-radius: 20px;
        text-decoration: none;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

}