:root {
    --primary-color: #FF7A00;
    --secondary-color: #FFD323;
    --tertiary-color: #29A649;
}

.contact-container {
    margin: 70px 15px 15px 5px;
    padding: 10px;
}

iframe {
    width: 700px;
    height: 500px;
}

.contact-info h3 {
    color: var(--tertiary-color);
    font-weight: 600;
}

form {
    margin: 0 auto;
}



label {
    display: block;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

input[type="text"], .input-email, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a1a0a0;
    border-radius: 10px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    font-weight: 600;
    width: fit-content;
    background-color: var(--primary-color);
    box-shadow: -1px 4px 3px 2px rgb(197, 95, .80);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}




@media only screen and (width >= 1024px) {
    input[type="submit"]:hover {
    background-color:  #f79234;
    }

}